table{
    width: 95vw;
    border-spacing: 0;
    tr{
        height: 2rem;
        th {
            background-color: lightseagreen;
        }
        td {
            background-color: rgb(152, 228, 225);
            
        }
    }  
}

.pagination-btns{
    display: inline-flex;
    align-items: center;

    button, p {
        height: 2rem;
        margin-right: 1rem;
        margin-bottom: 0;
    }
}
