<p>table works!</p>

<div class="toggle-order-btn">
    <button
    type="button"
    (click)="toggleOrder()"
        >Order {{ order }}
    </button>
</div>
<div class="pagination-btns">
    <button 
        type="button" 
        (click)="paginate('prev')"
        [disabled]="limits[0] === 0"
        >Previous page
    </button>
    <p>Current page: {{ page }}</p>
    <button 
        type="button" 
        (click)="paginate('next')"
        [disabled]="limits[1] >= (countryList | async)!.length-1"
    >Next page</button>
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Capital</th>
            <th>Region</th>
            <th>Language</th>
            <th>Population</th>
            <th>Flag</th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO router link outside of table row -->
        <tr *ngFor="let country of (countryList | async)! | sort:order | pagination:limits"
            [routerLink]="['country', country.name]"
            routerLinkActive="router-link-active">
                <td>{{ country.name }}</td>
                <td>{{ country.capital }}</td>
                <td>{{ country.region }}</td>
                <td>{{ country.language | languages }}</td>
                <td>{{ country.population }}</td>
                <td>{{ country.flag }}</td>
        </tr>
    </tbody>
</table>